<!-- Config file for the game -->

<config>
  <app>
    <title>Research - Input Combos</title>
    <organization>Gerard Marcos Freixas</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <input_combos>
    <combo name="hadouken">
      <input_event type="down"/>
      <input_event type="right"/>
      <input_event type="punch"/>
    </combo>
  <!-- TODO 1: Create another combo. Place any inputs you want! Guess what the attribute "name" of the combo should be.
       Investigate through the code for some clues. We can add another input_event type called "kick". -->
    
  </input_combos>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
  </map>

</config>